<h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>
    <input 
        type="text"
        class="mb-2 border py-2 px-4 w-full"
        placeholder="Filter products..."
        [(ngModel)]="term"
    >
    <!-- <app-product 
        *ngFor="let product of products; let i = index" 
        [product]="product"
    ></app-product> -->
    <p *ngIf="loading" class="text-center text-lg">Loading...</p>
    <!-- <app-product 
        *ngFor="let product of products" 
        [product]="product"
    ></app-product> -->
    <div *ngIf="prodctsService.products">
        <app-product
            *ngFor="let product of prodctsService.products | filterProducts: term"
            [product]="product"
        ></app-product>
    </div>
    <app-modal *ngIf="modalService.isVisible$ | async" title="Create new Pruduct">
        <app-create-product></app-create-product>
    </app-modal>
    <button
        class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4"
        (click)="modalService.open()"
    >+</button>
